services:
  backend:
    build: .
    ports:
      - '8000:8000'
    depends_on:
      - db
      - redis
      - minio
      - mosquitto
      - kafka
    environment:
      BROKER_URL: 'redis://redis:6379/0'
      CELERY_RESULT_BACKEND: 'redis://redis:6379/1'
      S3_ENDPOINT_URL: 'http://minio:9000'
      S3_PUBLIC_URL: 'http://localhost:9000'
      MQTT_BROKER_HOST: 'mosquitto'
      KAFKA_BOOTSTRAP_SERVERS: 'kafka:9092'

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: demo
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'

  celery-worker:
    build: .
    command: celery -A app.tasks worker --loglevel=info --concurrency=2
    depends_on:
      - redis
      - db
    environment:
      BROKER_URL: 'redis://redis:6379/0'
      CELERY_RESULT_BACKEND: 'redis://redis:6379/1'

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data

  mosquitto:
    image: eclipse-mosquitto:2
    ports:
      - '1883:1883'
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - mosquitto_data:/mosquitto/data

  kafka:
    image: apache/kafka:latest
    ports:
      - '9092:9092'
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
    volumes:
      - kafka_data:/tmp/kraft-combined-logs

  jaeger:
    image: jaegertracing/all-in-one:1.76.0
    ports:
      - '16686:16686'   # Jaeger UI
      - '4317:4317'     # OTLP gRPC
      - '4318:4318'     # OTLP HTTP
    environment:
      COLLECTOR_OTLP_ENABLED: 'true'
    mem_limit: 128m

volumes:
  postgres_data:
  minio_data:
  mosquitto_data:
  kafka_data:
